<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dreamteam.focus">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        &lt;meta-data
        android:name=&quot;com.google.android.geo.API_KEY&quot;
        android:value=&quot;AIzaSyBruPqtnZC8EXySae3aa_rqDdnkmi4Mu0E&quot; /&gt;

        &lt;meta-data
        android:name=&quot;com.google.android.gms.version&quot;
        android:value=&quot;@integer/google_play_services_version&quot; /&gt;

        <service
            android:name=".server.BackgroundService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".client.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".client.profiles.ProfilesActivity" />
        <activity android:name=".client.schedules.SchedulesActivity" />
        <activity android:name=".client.schedules.AddProfileToScheduleActivity" />
        <activity android:name=".client.schedules.AddProfileToNewSchedule" />
        <activity android:name=".client.schedules.AddScheduleActivity" />
        <activity android:name=".client.schedules.EditScheduleActivity" />
        <activity android:name=".client.TimePicker" />
        <activity android:name=".client.schedules.EditProfileInScheduleActivity" />
        <activity android:name=".client.StatisticsActivity" />
        <activity android:name=".client.GoogleAuthentication" />
        <activity
            android:name=".client.profiles.CreateProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".client.profiles.EditProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".client.BlockAppActivity"></activity>
    </application>

</manifest>